@import 'theme';

#tab {
  .state-annule {
    background: lighten($color1, 10);
  }
  .state-option,
  .state-inactif {
    background: $color1;
  }
  .state-confirme,
  .state-actif {
    background: $color2;
  }
  tbody > * {
    display: contents;
  }
  .list-group-item:hover {
    cursor: pointer;
    background: darken($light-color, 10);
  }
}

app-template-a #tab thead {
  background: $dark-color;
  color: $light-color;
}

