@import 'theme';

#tab {
  .state-cancel {
    background: lighten($color1, 10);
  }
  .state-option,
  .state-inactive {
    background: $color1;
  }
  .state-confirm,
  .state-active {
    background: $color2;
  }
  tbody > * {
    display: contents;
    &:hover {
      cursor: pointer;
      tr {
        background: darken($light-color, 20);
      }
    }
  }
  .list-group-item:hover {
    cursor: pointer;
    background: darken($light-color, 10);
  }
}

app-template-a #tab thead {
  background: darken($light-color, 15);
  // color: $light-color;
}

